*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --primary-color-red: hsl(0, 100%, 67%);
  --primary-color-yellow: hsl(39, 100%, 56%);
  --primary-color-green: hsl(166, 100%, 37%);
  --primary-color-blue: hsl(234, 85%, 45%);

  --neutral-color-white: hsl(0, 0%, 100%);
  --neutral-color-blue: hsl(221, 100%, 96%);
  --neutral-color-lavender: hsl(241, 100%, 89%);
  --neutral-color-gray: hsl(224, 30%, 27%);
}

html {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.container {
  max-width: 375px;
  border-radius: 35px;
  box-shadow: 0 0 20px hsla(224, 30%, 27%, 0.1);
}

.results-section {
  background: linear-gradient(-180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 35px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 40px 30px;
  position: relative;
}

.bg-gradient {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
}

.results-section-title {
  margin-bottom: 20px;
}

p {
  color: var(--neutral-color-lavender);
  font-size: 1.125rem;
}

.results-section .score {
  color: var(--neutral-color-white);
  display: block;
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: -5px;
  position: relative;
  margin-top: 20px;
}

.results-section-summary {
  color: var(--neutral-color-white);
  font-size: 1.5rem;
  margin: 50px 0 10px 0;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
}

.summary-section-title {
  color: var(--neutral-color-gray);
  font-size: 1.125rem;
  font-weight: 700;
}

button {
  background-color: var(--neutral-color-gray);
  color: var(--neutral-color-white);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 15px;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(-180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary-container-title {
  font-weight: 700;
}

.summary-score {
  color: hsla(224, 30%, 27%, 0.5);
}

.category-score {
  color: hsla(224, 30%, 27%, 1);
  font-weight: 700;
}

.summary-container {
  border-radius: 10px;
  padding: 10px 15px 10px 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.summary-container.category-one {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.summary-container.category-one .summary-container-title {
  color: var(--primary-color-red);
}

.summary-container.category-one .summary-container-title::before {
  content: url(assets/images/icon-reaction.svg);
  position: absolute;
  left: 10px;
}

.summary-container.category-two {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.summary-container.category-two .summary-container-title {
  color: var(--primary-color-yellow);
}

.summary-container.category-two .summary-container-title::before {
  content: url(assets/images/icon-memory.svg);
  position: absolute;
  left: 10px;
}

.summary-container.category-three {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.summary-container.category-three .summary-container-title {
  color: var(--primary-color-green);
}

.summary-container.category-three .summary-container-title::before {
  content: url(assets/images/icon-verbal.svg);
  position: absolute;
  left: 10px;
}

.summary-container.category-four {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.summary-container.category-four .summary-container-title {
  color: var(--primary-color-blue);
}

.summary-container.category-four .summary-container-title::before {
  content: url(assets/images/icon-visual.svg);
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 700px) {
  body {
    justify-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    max-height: 500px;
    border-radius: 35px;
    box-shadow: 0 0 20px hsla(224, 30%, 27%, 0.1);
    margin-bottom: 10px;
  }

  .results-section {
    min-width: 350px;
    border-radius: 35px;
  }

  .summary-section {
    min-width: 350px;
  }
}
